$main-color: #fff;
$border-color: #cac9c9;

.headerWrapper {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: $main-color;
  border-bottom: 0.5px solid $border-color;
}
